<?xml version="1.0" encoding="utf-8"?>

<launch>
	<!-- open teleop_twist_keyboard.py (remove output) -->
	<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

	<!-- Include smb_gazebo.launch / change world / enable laser -->
	<include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
		<arg name="world_file" value="$(find smb_gazebo)/worlds/big_map_summer_school.world"/>
		<arg name="laser_enabled" value="true"/>
	</include>

	<!-- run highlevel_controller -->
	<node name="smb_highlevel_controller" pkg="smb_highlevel_controller" type="smb_highlevel_controller" output="screen">
		<rosparam command="load" file="$(find smb_highlevel_controller)/config/config.yaml" />
	</node>

	<!-- Run Rviz-->
	<node name="rviz" pkg="rviz" type="rviz" output="screen"/>
</launch>
